@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

body {
    margin: 0px;
    background-color: #eee;
    font-family: 'Open Sans', sans-serif !important;
    text-align: center;
}

x-appbar > x-tooltip {
    color: black;
    font-size: 12px;
}

.call {
    margin: 0 auto;
    padding: 20px;
    width: 200px;
}

.call p {
    font-size: 1.5rem;
    text-shadow:1px 1px 0px #ddd;
}

.create {
    margin: 0 auto;
    padding: 20px;
    width: 200px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 30px;
    text-align: left;
}

.create input {
    width: 98%;
    -webkit-border-top-left-radius:6px;
    -moz-border-radius-topleft:6px;
    border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topright:6px;
    border-top-right-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    border-bottom-right-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
    border-bottom-left-radius:6px;
    text-indent:0;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    height: 30px;
    font-size:15px;
    font-style:normal;
    line-height:14px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #ffffff;
    margin-bottom: 5px;
}

.create button {
    margin-top: 10px;
    width: 100%;
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -webkit-border-top-left-radius:6px;
    -moz-border-radius-topleft:6px;
    border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topright:6px;
    border-top-right-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    border-bottom-right-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
    border-bottom-left-radius:6px;
    text-indent:0;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    height: 30px;
    font-size:15px;
    font-style:normal;
    line-height:14px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #ffffff;
}

.create button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
}

.create button:active {
    position:relative;
    top:1px;
}

.options-wrapper {
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    width: 80%;
    background-color: #fff;
    border-radius: 10px;
}

.options-wrapper table {
    width: 100%;
}

.options-wrapper x-slider {
    width: 80%;
}

.options-wrapper p {
    display: inline;
    width: 20%;
    padding: 25px;
}

.footer {
    margin: 0 auto;
    margin-top: 120px;
    padding: 10px;
    width: 82%;
    border-top: 1px solid #bbb;
    color: #888;
    font-size: 12px;
}