.footer
  .notices 
    | rangevote.it was hacked together by 
    a(href="http://yiannelos.gr/") John Giannelos
    |  and 
    a(href="http://pierros.papadeas.gr") Pierros Papadeas
    |  | 
    a(href="https://github.com/johngian/ballotta") Fork it
    |  | Install it